<configuration>
<system.webServer>
<rewrite>
    <rules>
	<rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
	<match url="(.*)" /> 
	<conditions> 
		 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
	</conditions> 
	<action type="Redirect" redirectType="Permanent" url="index.html" />
</rule>
        <rule name="Ignore Directory" stopProcessing="true"> 
	<match url="^portfolio/" /> 
	<action type="None" />
</rule>   
    </rules>
</rewrite>
</system.webServer>
</configuration>